<section class="thirteen columns">
    <h1>About Me</h1>
    <article>
      <p>I'm an <a style="color:#333; text-decoration: underline;" href="http://astro3d.org.au/">ASTRO 3D</a>  postdoctoral fellow at the Australian National University's <a style="color:#333; text-decoration: underline;" href="http://rsaa.anu.edu.au">Research School of Astronomy and Astrophysics</a>, collaborating with Lisa Kewley.</p><br>
      <p>I completed my PhD at the University of Washington, Seattle, under the supervision of Julianne Dalcanton. While at UW, I was involved with <a style="color:#333; text-decoration: underline;" href="https://twitter.com/AoTSeattle">Astronomy on Tap Seattle</a>, the <a style="color:#333; text-decoration: underline;" href="http://www.washington.edu/news/2013/01/24/astronomy-to-go-uw-readies-new-portable-planetarium/">UW mobile planetarium</a> and the Pre-Major in Astronomy Program (<a style="color:#333; text-decoration: underline;" href="http://depts.washington.edu/premap/">Pre-MAP</a>).</p><br>
        <p>When I'm not engaged in more scholarly pursuits, I can be found gardening or building guitar pedals. I love tabletop games and beer, and firmly believe that the two should be enjoyed together. </p>
    </article>
</section>
