<section class="thirteen columns">
    <h1>About Me</h1>
    <article>
      <p>I'm currently a graduate student at the University of Washington in Seattle. I'm generally interested in galaxy evolution and using nearby galaxies to better understand observations of more distant galaxies.</p><br>
      <p>As of January, 2018, I'll be relocating to Canberra, Australia to start a post-doctoral fellowship at the Australian National University.</p> <br>
        <p>I help run <a style="color:#333; text-decoration: underline;" href="https://twitter.com/AoTSeattle">Astronomy on Tap Seattle</a>, and am involved with the <a style="color:#333; text-decoration: underline;" href="http://www.washington.edu/news/2013/01/24/astronomy-to-go-uw-readies-new-portable-planetarium/">UW mobile planetarium</a> and the Pre-Major in Astronomy Program (<a style="color:#333; text-decoration: underline;" href="http://depts.washington.edu/premap/">Pre-MAP</a>).</p><br>
        <p>When I'm not engaged in more scholarly pursuits, I can be found gardening or building guitar pedals. I love tabletop games and beer, and firmly believe that the two should be enjoyed together. </p>
    </article>
</section>
