<section class="thirteen columns">
    <h1>About Me</h1>
    <article>
        <p>I'm currently a graduate student at the University of Washington in Seattle. I'm generally interested in galaxy evolution, and my research focuses on using nearby galaxies to better understand observations of galaxies at higher redshift.</p><br>
        <p>When I'm not engaged in more scholarly pursuits, I can be found gardening or building guitar pedals. I love tabletop games and beer, and firmly believe that the two should be enjoyed together.</p>
    </article>
</section>