<section class="thirteen columns">
        <h1>Using nearby galaxies to better understand more distant galaxies</h1>
    <article>
        <p><em>Using resolved stellar populations to characterize biases in spectral fitting</em></p><br>
        <p>I am interested in the intersection of resolved star studies of galaxies and integrated light studies of galaxies. For nearby galaxies, we can study both perspectives simultaneously: HST imaging reveals the resolved stellar populations and SDSS-IV MaNGA IFUs provide the spatially resolved spectroscopy. My thesis work focuses on characterizing the translation of integrated light into meaningful astrophysical quantities of galaxies, especially on sub-kpc scales where stochastic processes can cause widely-used approximations to break down.</p><br>
    </article>
    <article>
        <p><em> Including nebular emission for more complete models of galaxy light</em></p><br>
        <p>I'm also interested in properly accounting for nebular line and continuum emission in SPS models, and have implemented a nebular model in <a href="https://github.com/cconroy20/fsps">FSPS</a>. I'm interested in better connecting star formation rate indicators with the associated stellar and nebular flux, including the influence of bursty star formation histories and massive star evolution.</p><br>
    </article>
    <article>
        <p><em>Other research interests</em></p><br>
        <p> From the resolved stellar population side of things, I use evolved stars in M31 to constrain stellar evolution models as a part of  <a href="http://www.astro.washington.edu/groups/phat/Home.html">PHAT</a>. I am also really excited about 2D spectroscopic surveys of galaxies, and have worked on both <a href="http://www.sdss.org/dr13/manga/manga-target-selection/ancillary-targets/detangling-galaxy-spectra-using-resolved-stars/">survey science</a> and <a href="http://blog.sdss3.org/2013/01/23/demonstrating-the-manga-instrument-at-apo/">instrumentation</a> as a part of MaNGA!</p><br>
    </article>
</section>
