<section class="thirteen columns">
  <h1>Projects</h1>
  <h4>Object detection and classification with deep learning</h4>
  <article>
  <p><a href="https://github.com/{{ site.github }}/dice_detection"><i class="fa fa-github"></i> Project on Github </a></p><br>
      <p>I trained a convolutional neural network to detect and classify images of six-sided dice in real time. I used the <code>TensorFlow</code> Object Detection framework to construct, train and deploy a multi-object detection model, and augmented the trained model for use on mobile devices using <code>TFLite</code>. To take advantage of cloud computing resources, I also implemented a docker-based deployment to train the model on AWS GPU EC2 instances and the Google Cloud Services AI Platform.</p><br>
        <p><img src="https://raw.githubusercontent.com/nell-byler/dice_detection/master/img/giphy.gif" class="img-responsive" alt="Dice." width="320"></p><br>
    </article>
</section>
